body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: rgb(236,242,248);
}
.main{
    height: 110vh;
    width: 90vw;
    display: grid;
    grid-template-columns: repeat(10,12%);
    grid-template-rows: repeat(10,10%);
    grid-gap:10px;
}
.one{
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end:6;
    background-color: rgb(117, 65, 200);
    border-radius: 10px;
}
.two{
    grid-column-start: 5;
    grid-column-end:7;
    grid-row-start:2 ;
    grid-row-end:6;
    background-color: rgb(72, 85, 106);
    border-radius: 10px; 
}
.three{
    grid-column-start: 7;
    grid-column-end:9;
    grid-row-start:2 ;
    grid-row-end:9;
    background-color: rgb(255, 255, 255);
    border-radius: 10px; 
}
.four{
    grid-column-start: 2;
    grid-column-end:4;
    grid-row-start:6 ;
    grid-row-end:9;
    background-color: rgb(255, 255, 255);
    border-radius: 10px; 
}
.five{
    grid-column-start: 4;
    grid-column-end:7;
    grid-row-start:6 ;
    grid-row-end:9;
    background-color: rgb(25, 33, 46);
    border-radius: 10px;
}